<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="verificationCodeCoordinatorSender"
        class="com.hginfo.hbm.core.verification.VerificationCodeCoordinatorSender">
        <property name="senderMap">
            <bean class="java.util.EnumMap">
                <constructor-arg>
                    <map key-type="com.hginfo.hbm.core.verification.VerificationCodeSender$SenderType">
                        <entry key="MAIL">
                            <bean class="com.hginfo.hbm.core.verification.VerificationCodeMailSender" />
                        </entry>
                    </map>
                </constructor-arg>
            </bean>
        </property>
    </bean>

</beans>
