.hgform label.error {
	color: Red;
	padding-left: 0px;
	font-weight: bold;
}

.hgform input,
.hgtextbox{
  border: 1px solid #ddd;
  font-size: 12px;
  height: 20px;
  line-height:20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.hgform textarea,
.hgtextarea{
  border: 1px solid #ddd;
  vertical-align: middle;
  display: inline-block;
  vertical-align: top;
  outline-style: none;
  font-size: 12px;
  padding: 4px;
  margin: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.hgform input[type="radio"]{border:none;}